<!DOCTYPE HTML>
<html>
  <head>
    <title>Smoothie King - Menu</title>
    <meta charset="utf-8">
	  <meta name="viewport" content="width=device-width, initial-scale=1">
	  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  	<link rel="stylesheet" href="./styles/Menu.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
	  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
  </head>

  <body>
    <button id="logoutButton" onclick="homePage()">LogOut</button>
    <div class="container">
      <div class="row">
        <div class="col-md-4">
          <div id="section1">
            <h2>Feel Energized Blends</h2>
            <!--
              MAKE THE BACKGROUND GO UP MORE TO REMOVE
              GRAY GAP IN BETWEEN H2 AND ITEMS
            -->
            <div class="container">
              <!-- ITEM TEMPLATE -->
              <% catItems_1.forEach(function(item){ %>
              <div class="row center-row">
                <div class="col-sm-10">
                  <h3><%= item.name %></h3>
                  <p><%= item.ingredients %></p>
                </div>
                <div class="col-sm-2">
                  <div class="row">
                    <h3> Prices </h3>
                  </div>
                </div>
              </div>
              <% }) %>
              <!-- END OF TEMPLATE -->
            </div>
          </div>
          <div id="section2">
            <h2>Get Fit Blends</h2>
            <div class="container">
              <!-- ITEM TEMPLATE -->
              <% catItems_2.forEach(function(item){ %>
              <div class="row center-row">
                <div class="col-sm-10">
                  <h3><%= item.name %></h3>
                  <p><%= item.ingredients %></p>
                </div>
                <div class="col-sm-2">
                  <div class="row">
                    <h3> Prices </h3>
                  </div>
                </div>
              </div>
              <% }) %>
              <!-- END OF TEMPLATE -->
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div id="section3">
            <h2>Manage Weight Blends</h2>
            <div class="container">
              <!-- ITEM TEMPLATE -->
              <% catItems_3.forEach(function(item){ %>
              <div class="row center-row">
                <div class="col-sm-10">
                  <h3><%= item.name %></h3>
                  <p><%= item.ingredients %></p>
                </div>
                <div class="col-sm-2">
                  <div class="row">
                    <h3> Prices </h3>
                  </div>
                </div>
              </div>
              <% }) %>
              <!-- END OF TEMPLATE -->
            </div>
          </div>
          <div id="section4">
            <h2>Be Well Blends</h2>
            <div class="container">
              <!-- ITEM TEMPLATE -->
              <% catItems_4.forEach(function(item){ %>
              <div class="row center-row">
                <div class="col-sm-10">
                  <h3><%= item.name %></h3>
                  <p><%= item.ingredients %></p>
                </div>
                <div class="col-sm-2">
                  <div class="row">
                    <h3> Prices </h3>
                  </div>
                </div>
              </div>
              <% }) %>
              <!-- END OF TEMPLATE -->
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div id="section5">
            <h2>Enjoy a Treat Blends</h2>
            <div class="container">
              <!-- ITEM TEMPLATE -->
              <% catItems_5.forEach(function(item){ %>
              <div class="row center-row">
                <div class="col-sm-10">
                  <h3><%= item.name %></h3>
                  <p><%= item.ingredients %></p>
                </div>
                <div class="col-sm-2">
                  <div class="row">
                    <h3> Prices </h3>
                  </div>
                </div>
              </div>
              <% }) %>
              <!-- END OF TEMPLATE -->
            </div>
          </div>
        </div>
      </div>
    </div>
    <script src="./scripts/Menu.js"></script>
    <script>
    function homePage() {
      window.location.href = "/";
    }
	</script>
  </body>
</html>