<!DOCTYPE HTML>
<html>
  <head>
    <meta charset="utf-8">
	  <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  	<link rel="stylesheet" href="./styles/Server.css">
    <title>Smoothie King - Server</title>
    <meta charset="utf-8">
	  <meta name="viewport" content="width=device-width, initial-scale=1">
	  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  	<link rel="stylesheet" href="./styles/Server.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
	  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
  </head>

  <body>
    <div class="modal fade" id="modalSizeSelection" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="myModalLabel">Select Size</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body text-center">
            <button type="button" class="btn mx-3" id="sizeSmall" style="border: 2px solid black; font-size:large;" onclick="placeInCart('Small')">Small</button>
            <button type="button" class="btn mx-3" id="sizeMedium" style="border: 2px solid black; font-size:large;" onclick="placeInCart('Medium')">Medium</button>
            <button type="button" class="btn mx-3" id="sizeLarge" style="border: 2px solid black; font-size:large;" onclick="placeInCart('Large')">Large</button>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
          </div>
        </div>
      </div>
    </div>
    <div class="container">
      <button class="btn" id="logoutButton" style="border: 2px solid black;" onclick="homePage()">LogOut</button>
      <div class="row center-row">
        <div class="col-sm-3 text-center" style="border: 2px solid black; height: 100%;">
          <h2>Extra Items</h2>
        </div>
        <div class="col-sm-6 text-center" style="border: 2px solid black;  height: 100%;">
          <div class="row" style="border: 2px solid black; height: 60%;">
            <div class="col">
              <button class="btn" href="#" id="option1" style="border: 2px solid black;">Feel Energized Blends</button>
              <button class="btn" href="#" id="option2" style="border: 2px solid black;">Get Fit Blends</button>
              <button class="btn" href="#" id="option3" style="border: 2px solid black;">Manage Weight Blends</button>
              <button class="btn" href="#" id="option4" style="border: 2px solid black;">Be Well Blends</button>
              <button class="btn" href="#" id="option5" style="border: 2px solid black;">Enjoy a Treat Blends</button>
              <div id="container1">
                <h2> Feel Energized Blends</h2>
                <div>
                  <% catItems_1.forEach(function(item){ %>
                  <button id="buttons" class="btn" style="border: 2px solid black;" data-toggle="modal" data-target="#modalSizeSelection" data-backdrop="false" data-itemname="Item 1"><%= item.name %></button>
                  <% }) %>
                  <!-- Make it so the Price appears next to the item in checkout and have the remove button next to it.
                  -->
                  <!--
                    Make the background of the center panel change for each category,
                    Make the buttons have certain style when on the background
                    Increase button font
                    Make buttons go into rows of 5, no more
                    Create template to add buttons properly
                  -->
                </div>
              </div>
              <div id="container2" hidden>
                <h2> Get Fit Blends</h2>
                <% catItems_2.forEach(function(item){ %>
                  <button id="buttons" class="btn" style="border: 2px solid black;" data-toggle="modal" data-target="#modalSizeSelection" data-backdrop="false" data-itemname="Item 1"><%= item.name %></button>
                <% }) %>
              </div>
              <div id="container3" hidden>
                <h2> Manage Weight Blends</h2>
                <% catItems_3.forEach(function(item){ %>
                  <button id="buttons" class="btn" style="border: 2px solid black;" data-toggle="modal" data-target="#modalSizeSelection" data-backdrop="false" data-itemname="Item 1"><%= item.name %></button>
                <% }) %>
              </div>
              <div id="container4" hidden>
                <h2> Be Well Blends</h2>
                <% catItems_4.forEach(function(item){ %>
                  <button id="buttons" class="btn" style="border: 2px solid black;" data-toggle="modal" data-target="#modalSizeSelection" data-backdrop="false" data-itemname="Item 1"><%= item.name %></button>
                <% }) %>
              </div>
              <div id="container5" hidden>
                <h2> Enjoy a Treat Blends</h2>
                <% catItems_5.forEach(function(item){ %>
                  <button id="buttons" class="btn" style="border: 2px solid black;" data-toggle="modal" data-target="#modalSizeSelection" data-backdrop="false" data-itemname="Item 1"><%= item.name %></button>
                <% }) %>
              </div>
            </div>
          </div>
          <div class="row" style="border: 2px solid black; height: 40%;">
            <div class="col">
              <h3> Extras/ Addons</h3>
              <% exItems.forEach(function(item){ %>
                <button id="buttons" class="btn" style="border: 2px solid black;" data-toggle="modal" data-target="#modalSizeSelection" data-backdrop="false" data-itemname="Item 1"><%= item %></button>
              <% }) %>
            </div>
          </div>
        </div>
        <div class="col-sm-3 text-center" style="border: 2px solid black;  height: 100%;">
          <div class="row" style="border: 2px solid black; height: 60%;">
            <div class="col">
              <h2> Checkout </h2>
              <div id="cartItems"></div>
            </div>
          </div>
          <div class="row" style="border: 2px solid black; height: 40%;">
            <div class="col">
              <h3> Total </h3>
              <div id="totalCheckoutCost"> a </div>
              <button id="checkoutButton" class="btn" style="border: 2px solid black;" onclick="placeOrder()"> Confirm Order</button>
            </div>
          </div>
        </div>
        </div>
      </div>
    </div>
    <script src="./scripts/Server.js"></script>
    <script>
      var itemName;
      function homePage() {
        window.location.href = "/";
      }
      $(document).ready(function() {
        $("#option1").click(function() {
          $("#container1").show();
          $("#container2").hide();
          $("#container3").hide();
          $("#container4").hide();
          $("#container5").hide();
        });
        
        $("#option2").click(function() {
          $("#container1").hide();
          $("#container2").show();
          $("#container3").hide();
          $("#container4").hide();
          $("#container5").hide();
        });

        $("#option3").click(function() {
          $("#container1").hide();
          $("#container2").hide();
          $("#container3").show();
          $("#container4").hide();
          $("#container5").hide();
        });
        
        $("#option4").click(function() {
          $("#container1").hide();
          $("#container2").hide();
          $("#container3").hide();
          $("#container4").show();
          $("#container5").hide();
        });

        $("#option5").click(function() {
          $("#container1").hide();
          $("#container2").hide();
          $("#container3").hide();
          $("#container4").hide();
          $("#container5").show();
        });
      });
      function placeInCart(size) {
        // Get the selected size from the buttons
        // get the cart-items div
        var cartItemsDiv = document.getElementById("cartItems");

        // create a new div to hold each item and its remove button
        var itemDiv = document.createElement("div");
        itemDiv.className = "cart-item";

        // create a new p element to hold the item name
        var itemNameP = document.createElement("p");
        itemNameP.textContent = size + " " + itemName;

        // create a new button to remove the item
        var removeButton = document.createElement("button");
        removeButton.type = "button";
        removeButton.className = "btn btn-danger btn-sm";
        removeButton.textContent = "Remove";
        removeButton.addEventListener("click", function () {
            // remove the item div from the cart-items div
            cartItemsDiv.removeChild(itemDiv);
        });

        // add the item name and remove button to the item div
        itemDiv.appendChild(itemNameP);
        itemDiv.appendChild(removeButton);

        // add the item div to the cart-items div
        cartItemsDiv.appendChild(itemDiv);

        // Close the modal
        $("#modalSizeSelection").modal("hide");
      }
      $('#modalSizeSelection').on('show.bs.modal', function (event) {
        var button = $(event.relatedTarget); // Button that triggered the modal
        itemName = button.data('itemname'); // Extract item name from data attribute
        // Do something with the item name, like display it in the modal or pass it to a function
      });
      function placeOrder() {
        var cartItemsDiv = document.getElementById('cartItems');
        var cartItems = cartItemsDiv.querySelectorAll('div');
        var sizes = [];
        var items = [];

        while (cartItemsDiv.hasChildNodes()) {
          var cartItem = cartItems[0].querySelector('p').textContent.split(' ');
          sizes.push(cartItem[0]);
          items.push(cartItem[1]);
          cartItemsDiv.removeChild(cartItems[0]);
          cartItems = cartItemsDiv.querySelectorAll('div');
        }
        //console.log(items);
      }
    </script>
  </body>
</html>